@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 8px;
  margin-top: 18px;
  margin-bottom: 18px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Basic Layout Reset to ensure full height */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}